 .idea/
        CodeW.py
        CodeW2.py
        Les1.py
        __pycache__/
        conftest.py
        les2.py
        lesson2.py
        lesson3.py
        lesson4.py
        lesson5.py
        lesson7.py
        mm6.py
        my_module.py
        pytest.ini
        test_les6_PET.py
        test_lesson6.py
